



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.landing{
    width: 100vw;
    height: 100vh;
    background-color: floralwhite;
   overflow-x: hidden;
}
 



.navbar{
height:90px;
width:100%;
display: flex;
flex-direction: row;
justify-content: space-between;
position: relative;

}
.logo{
    margin-left: 40px;
    width: 120px;
    height:120px;
   
    
}


.nav-links{
    position: absolute;
    display: flex;
justify-content: flex-end;
gap:30px;
   margin-right: 40px;
    margin-top: 50px;
   right: 2px;
   z-index: 1;

}

.nav-links a {
    color:orange;
    text-decoration: none;
    font-size: 23px;
    font-weight: bold;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;;
    flex-wrap: wrap;
    transition: all 0.3s ease-in-out;  
   
}

.nav-links a:hover{
    color: rgb(89, 91, 212);
    transform: scale(1.1);
    
}






@font-face {
    font-family: 'Happy Monkey';
    src: url(../../src/HappyMonkey-Regular.ttf);
}

@font-face {
    font-family: 'happy giraffe';
    src: url("../../src/HappyGiraffe-Regular.ttf");
}
@font-face {
    font-family: "peach";
    src: url("../../src/PeachesandCream.ttf");


}

.landing-content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 20;
    
}

.landing-text{
    margin-top:100px;
    font-family:'Unica One', cursive;
    font-size: 50px;
    color:orange;
    font-weight: 900;
    margin-left:30px;
}

.subtext{
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:rgb(89, 91, 212);
    
}


.gif{
    width:200px;
    height:200px;
}
.landing-button{
    outline: none;
    cursor: pointer;
    width: 150px;
    height: 40px;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 30px;
    font-weight: bold;
    border: 2px solid rgb(89, 91, 212);
    color:rgb(89, 91, 212);
    text-decoration:none;
    transition: all 0.3s ease-in-out;
   
}

.landing-button:hover{
    color:orange;
    border: 2px solid orange;
}

.btn{
    margin-top: 20px;
   
   
}




.landing-image{
    position: relative;
    top:-100px;
    right:15px;
width:450px;
height:550px;


}

.pets-display{

    width:90%;
  
    border-bottom: none;
   
    margin:0 auto;
   text-align: center;
   padding-top:10px ;
 
    
}

.pets-heading{
  margin-top: 15px;
  /* color:rgb(255, 129, 2); */
  color: rgb(89, 91, 212);
        font-size: 50px;
        letter-spacing: -3px;
        font-family: 'Unica One', cursive;
}

.pets-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: center;
    text-align: center;
   
  
}



.pet-card{
    margin-top: 40px;
    width:230px;
    height: 300px;
    background-color:#ffa600c7;;
    
   border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(93, 80, 60, 0.638);
    display: flex;
    flex-direction: column;
    padding:10px;
    align-items: center;
   
    
}

.pet-image{
    width: 100px;
    height: 100px;
    padding:2px;
    outline: 4px dotted white;
    border-radius: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.3s ease-in-out;
    margin-bottom: 20px;;
    margin-top: 10px;
    box-shadow: 0px 0px 12px #aaa, -0px -0px 12px #fff;
   
}

.pet-info{
   
    font-size: 16px;
    color: rgb(255, 255, 255);
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    text-shadow: #aaa 1px 1px 1px;
  
}

.footer{
    width: 100%;
    height: 300px;
    background-color: rgb(89, 91, 212); 
    margin-top: 200px;
   color:rgba(255, 255, 255, 0.752);
    
}

.footer-content{
   
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer-section{
    margin-top: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.about{
    font-size: 15px;
   width:210px;
    text-align: center;
}

.links a {
    color:rgba(255, 255, 255, 0.752);
    list-style-type: none;
  text-align: center;
    text-decoration: none;
   
}  

.links li{
   
    margin-bottom: 10px;
}

.links a:hover{
    color:orange;
    transform: scale(1.1);
    
    
} 

.contact li{
    list-style: none;
  
   border-bottom: 1px solid rgba(230, 221, 221, 0.804);
   margin-bottom: 15px;
   transition: all 0.3s ease-in-out;
   
}

.contact li:hover{
    color:orange;
    transform: scale(1.05);
    cursor: pointer;
}

.footer-bottom{
    margin-top: 30px;
    text-align: center;
}

    

   












